include ../mixins/mixins-loader
block variables

<!DOCTYPE html>
html(lang="ru")
  head
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(charset='utf-8')
    meta(name='description' content='Text')
    style.
      body {opacity: 0; scale: 0.9; animation: pageTransOn 0.5s forwards;}
      @keyframes pageTransOn {from {opacity: 0; scale: 0.9;} to {opacity: 1; scale: 1;}}
      .body--offpage {animation: pageTransOff 0.5s forwards;}
      @keyframes pageTransOff {from {opacity: 1; scale: 1;} to {opacity: 0; scale: 0.9; filter: blur(10px);}}
    title #{title}
    meta(name='theme-color' content='#302f38')
    script.
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-MX6L9W4N');
    noscript
      iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-MX6L9W4N' height='0' width='0' style='display:none;visibility:hidden')
    script(type='text/javascript').
      (function(c,l,a,r,i,t,y){
      c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
      t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
      y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
      })(window, document, "clarity", "script", "nttiscb1dr");
    block link
      link(rel='icon' type='image/png' href='assets/images/png/favicon.png')
      link(rel='apple-touch-icon' href='assets/images/png/favicon.png')
      link(href='https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200;300;400;500;600&family=PT+Sans:wght@400;700&family=Roboto&display=swap' rel='stylesheet')

  body(id=pageClass)
    include ../includes/preloader
    .cursor
      .cursor__video Play
      .cursor__show
        p Show more
      .cursor__arrow
        svg( viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg")
          path(d="M1.39876 2.49218L10.3424 2.53456L0 12.6226L1.48353 14.0637L11.9107 3.89094L11.9531 12.7074L14.03 10.7152L13.9876 0.5H3.47571L1.39876 2.49218Z" fill="#0D0F1A")
    .body__wrap
      include ../includes/header
      #scrollbar
        main
          block content
        block footer
    include ../includes/mobile-menu
    include ../includes/popup
    block script
      script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
      script(src='https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js')
      script(src='https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/ScrollTrigger.min.js')
